# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Load the signed EFI filesystem module
DefaultDependencies=no
Before=efi.mount
ConditionPathExists=/usr/lib/modules

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/modprobe -- vfat
CapabilityBoundingSet=CAP_SYS_MODULE
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=no
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
UMask=0077
